*{
  margin: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", serif;
  padding: 0;
}

body{
  background-color: #282726;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  width: 90%;
  max-width: 34rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header{
  max-width: 27.5rem;
}

h1,h2{
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  color: #F9F4DA;
}

p{
  color: #8E8E8E;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.game-result{
  width: 100%;
  max-width: 25rem;
  border-radius: 4px;
  color: #F9F4DA;
  margin-top: 20px;
  border-radius: 6px;
  overflow: hidden;
  height: 68px;

  & p{
    color: #F9F4DA;
  }
}

.game-won{
  background-color: #10A95B;
  padding-block: 0.6rem;
}

.game-lost{
  background-color: #BA2A2A;
  padding-block: 0.6rem;

}

.languages__container{
  margin-block: 36px;
}
.languages{
  list-style: none;
  display: flex;
  gap: 3px;
  max-width: 300px;
  flex-wrap: wrap;
  justify-content: center;
}

.languages li button{
  position: relative;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
  color: #F9F4DA;
  background-color: red;
  border: none;
  cursor: pointer;
}

.languages li button.lost::before{
  content: "💀";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}



.word{
  display: flex;
  align-items: center;
  gap: 2px;
  margin-bottom: 36px;
}

.char{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  aspect-ratio: 1;
  text-transform: uppercase;
  color: #F9F4DA;
  font-weight: 700;
  font-size: 18px;
  background-color: #323232;
  border-bottom: 1px solid #F9F4DA;
}

.keyboard{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.key{
  color: #1E1E1E;
  font-weight: 600;
  font-size: 16px;
  background-color: #FCBA29;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px;
  width: 40px;
  aspect-ratio: 1;
  text-transform: uppercase;
  border: 1px solid #D7D7D7;
}

.newgame{
  background-color: #11B5E5;
  color: #1E1E1E;
  border: 1px solid #D7D7D7;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  width: 228px;
  height: 40px;
  margin-top: 36px;
  cursor: pointer;
}

.key.present{
  background-color: #10A95B;
}

.key.absent{
  background-color: #EC5D49;
}

.btn__container{
  height: 76px;
}